<div class="card">
  <div class="card-header">
    Property: {{param.name}}
  </div>
  <div class="card-body">
      <div class="form-group row">
          <label class="col-sm-4" for="paramName">Name: </label>
          <input type="text" class="form-control col-sm-8" name="name" id="paramName" placeholder="Param Name" [(ngModel)]="param.name">
        </div>
    <div class="form-group row">
      <label class="col-sm-4" for="hookName">WebHook: </label>
      <input type="text" class="form-control col-sm-8" name="name" id="hookName" placeholder="WebHook Name" [(ngModel)]="hook.name">
    </div>
    <div class="btn-group row d-flex">
        <button type="submit" class="btn btn-primary col-sm-4 w-100" (click)="save()" title="Creates/Updates a webhook for this node">Save</button>
        <button type="submit" class="btn btn-success col-sm-4 w-100" (click)="activate()" title="Activate this webhook">Activate</button>
        <button type="submit" class="btn btn-warning col-sm-4 w-100" (click)="delete()" title="Deletes the webhook for this node">Delete</button>
      </div>
  </div>
</div>