<div *ngIf="project">
  <form>
    <div class="card">
      <div class="card-header">
        <!--HEADER -->

        <dl class="row">
          <dt class="col-sm-5" data-toggle="tooltip" data-placement="top" title="Project Name">Project Name: </dt>
          <dd class="col-sm-7">
            {{project.name}}
          </dd>
        </dl>
      </div>
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-12" data-toggle="tooltip" data-placement="top" title="The Description for this project">Description: </dt>
          <dd class="col-sm-12">
            <span style="white-space: pre-line">{{project.description}}</span>
          </dd>
        </dl>
        <dl class="row" *ngIf="project.project_manager_name !== ''">
          <dt class="col-sm-5" data-toggle="tooltip" data-placement="top" title="The Name of the manager of the Project">Manager: </dt>
          <dd class="col-sm-7">
            <a routerLink="/user/{{project.project_manager}}">{{project.project_manager_name}}</a>
          </dd>
        </dl>
        <div  class="btn-group">
          <button type="submit" class="btn btn-primary" routerLink="/projects/{{project.id}}">Info</button>
        </div>
        <div *ngIf="!auth.isDev()" class="btn-group">
          <button type="submit" class="btn btn-primary" routerLink="/projects/edit/{{project.id}}">Edit</button>
        </div>
      </div>
    </div>
  </form>

</div>