<div *ngIf="check" >
  <form>
    <div class="card">
      <div class="card-header">
        <!--HEADER -->
        <dl class="row">
          <dt class="col-sm-5" data-toggle="tooltip" data-placement="top" title="Name of the security check">Name:</dt>
          <dd class="col-sm-7">{{check.name}}</dd>
        </dl>
      </div>
      <div class="card-body">
          <dl class="row">
              <dt class="col-sm-5" data-toggle="tooltip" data-placement="top" title="Name of the security check">Plugin:</dt>
              <dd class="col-sm-7">{{check.plugin}}</dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-5" data-toggle="tooltip" data-placement="top" title="Name of the security check">Value:</dt>
                <dd class="col-sm-7">{{check.value}}</dd>
              </dl>
        <div *ngIf="auth.isAdmin()" class="btn-group">
          <button type="submit" class="btn btn-primary" routerLink="/check/{{check.id}}">Edit</button>
        </div>
      </div>
    </div>
  </form>

</div>