<div class='container'>
    <div class="row">
        <div class="col-12">
            <h4>Web Projects</h4>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="list-group">
                <a *ngFor="let project of projects" [class.active]="project === selectedProject" (click)="onSelect(project)" class="list-group-item">
                    <span>{{project.name}} </span>
                </a>
            </div>
            <hr/>
        </div>
        <div class="col-sm-12 col-md-6">
            <web-project [project]="selectedProject"></web-project>
        </div>
    </div>
</div>