<div *ngIf="user">
  <form>
    <div class="card">
      <div class="card-header">
        <!--HEADER -->
        <dl class="row">
          <dt class="col-sm-4 text-right" data-toggle="tooltip" data-placement="top" title="Name of the usder">Name:</dt>
          <dd class="col-sm-8 text-left text-truncate">{{user.name}}</dd>
        </dl>
      </div>
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-4 text-right" data-toggle="tooltip" data-placement="top" title="Theemail of the user">Email: </dt>
          <dd class="col-sm-8 text-left text-truncate">
            <a>{{user.email}}</a>
          </dd>
        </dl>
        <dl class="row" *ngIf="user.manager_name !== ''">
          <dt class="col-sm-4 text-right" data-toggle="tooltip" data-placement="top" title="The Name of the manager of the user">Manager: </dt>
          <dd class="col-sm-8 text-left text-truncate">
            <a routerLink="/users/{{user.manager}}">{{user.manager_name}}</a>
          </dd>
        </dl>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Role</label>
          </div>
          <select disabled="true" class="custom-select" id="inputGroupSelect01" name="role" [ngModel]="user.role">
            <option value="0" [selected]="user.role===0">Dev</option>
            <option value="2" [selected]="user.role===2">Project Manager</option>
            <option value="1" [selected]="user.role===1">Responsable</option>
            <option value="3" [selected]="user.role===3">Admin</option>
          </select>
        </div>
        <dl class="row">
          <dt class="col-sm-4 text-right" data-toggle="tooltip" data-placement="top" title="The last time the was connected">Last Connection</dt>
          <dd class="col-sm-8 text-left text-truncate">{{user.last_update}}</dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-4 text-right" data-toggle="tooltip" data-placement="top" title="The creation date for this user">Creation Date</dt>
          <dd class="col-sm-8 text-left text-truncate">{{user.create_date}}</dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-4 text-right" data-toggle="tooltip" data-placement="top" title="The ID of the user">ID</dt>
          <dd class="col-sm-8 text-left text-truncate">{{user.id}}</dd>
        </dl>
        <div *ngIf="!auth.isDev()" class="btn-group">
          <button type="submit" class="btn btn-primary" routerLink="/users/edit/{{user.id}}">Edit</button>
        </div>
      </div>
    </div>
  </form>

</div>