<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">WebWard</a>">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" [routerLink]="['/']">Dashboard</a>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
        <h1>404 - Not Found</h1>
    </div>
    
  </div>
  <div class="row justify-content-center">
      <div class="col-6">
          <h3><a class="nav-link" [routerLink]="['/']">Return</a></h3>
      </div>
      
    </div>
</div>