<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="c('Close click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to delet the module"{{mod.name}}"?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="d('Close click')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="sureDelete();c('Close click');">Remove</button>
      </div>
    </div>
  </div>
</ng-template>
<div *ngIf="mod">
  <form>
    <div class="card">
      <div class="card-header">
        <!--HEADER -->

        <div class="form-group">
          <label for="checkName">Mod TAG</label>
          <input type="text" class="form-control" name="name" id="modName" placeholder="Module Name" [(ngModel)]="mod.name">
        </div>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="description">Origin</label>
          <input type="text" class="form-control" name="origin" id="origin" placeholder="http://.../...mod.zip" [(ngModel)]="mod.origin">
        </div>
        <div class="form-group">
            <dl class="row" >
                <dt class="col-sm-5" data-toggle="tooltip" data-placement="top" title="Lista de librerias que necesita este modulo">Libraries: </dt>
                <dd *ngFor="let lib of mod.libraries" class="col-sm-7">
                  <a>{{lib}}</a>
                </dd>
              </dl>
        </div>
        <div class="form-group">
            <dl class="row" >
                <dt class="col-sm-5" data-toggle="tooltip" data-placement="top" title="Lista de librerias NODEJS que necesita este modulo">Requires: </dt>
                <dd *ngFor="let lib of mod.requires" class="col-sm-7">
                  <a>{{lib}}</a>
                </dd>
              </dl>
        </div>
        <div class="btn-group">
          <button type="submit" class="btn btn-primary" (click)="edit()">Edit</button>
          <button type="submit" class="btn btn-secondary" (click)="cancel()">Cancel</button>
          <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" (click)="deleteModal(content)">Remove</button>
        </div>
      </div>
    </div>
  </form>
</div>