<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Pipeline Visual Editor</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div ngbDropdown class="dropdown">
      <button ngbDropdownToggle class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Focus On Node
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <a class="dropdown-item" *ngFor="let node of _nodes" (click)="focusNode(node)">{{node.name}}</a>
      </div>
    </div>
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary" (click)="handleZoom(-0.2)">+</button>
      <button class="btn btn-sm btn-outline-secondary" (click)="handleZoom(0.2)">-</button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9 col-md-8 col-sm-12" (window:resize)="onResize($event)">
      <svg #pipeCanvas version="1.1" [attr.viewBox]="'0 0 '+ width +' ' + height" width="100%" height="100%">
        <defs>
          <pattern id="smallGrid" width="10" height="10" patternUnits="userSpaceOnUse">
            <path d="M 10 0 L 0 0 0 10" fill="none" stroke="gray" stroke-width="0.5" />
          </pattern>
          <pattern id="grid" width="100" height="100" patternUnits="userSpaceOnUse">
            <rect width="100" height="100" fill="url(#smallGrid)" />
            <path d="M 100 0 L 0 0 0 100" fill="none" stroke="gray" stroke-width="1" />
          </pattern>
        </defs>
        <svg:g x="0" y="0">
            <svg:path stroke="green" stroke-width="3" fill="none" [attr.d]="'M ' + (dx + hosePipe.ox) + ',' + (hosePipe.oy + dy)
            + ' L '+(dx + hosePipe.x) + ',' +(dy + hosePipe.y)"/>
            <!-- [attr.cx]="node.width/2 +20" [attr.cy]="node.height +20" -->
          </svg:g>
        <svg:g x="0" y="0" *ngFor="let node of _nodes">
          <svg:g x="0" y="0" *ngFor="let stdOut of node.outputNodes">
            <svg:path stroke="green" stroke-width="3" fill="none" [attr.d]="'M ' + (node.x + dx + node.width + 20) + ',' + (node.y + dy + node.height/4 +20)
            + ' C '+ ((node.x + dx + node.width + 20)-(node.x  + node.width -stdOut.x )/2) + ',' +(node.y + dy + node.height/4 +20)
            + ' ' + ((node.x + dx + node.width + 20)-(node.x + node.width-stdOut.x)/2)  + ',' +(stdOut.y + dy + stdOut.height/2 +20)  
            + ' '+ (stdOut.x + dx + 20) + ',' + (stdOut.y + dy + stdOut.height/2 +20)" />
            <!-- [attr.cx]="node.width/2 +20" [attr.cy]="node.height +20" -->
          </svg:g>
          <svg:g x="0" y="0" *ngFor="let stdErr of node.errorNodes">
            <svg:path stroke="red" stroke-width="3" fill="none" [attr.d]="'M ' + (node.x + dx + node.width +20) + ',' + (node.y + dy + node.height*3/4 +20)
            + ' C '+ ((node.x + dx + node.width + 20)-(node.x + node.width -stdErr.x )/2) + ',' +(node.y + dy + node.height*3/4 +20)
            + ' ' + ((node.x + dx + node.width + 20)-(node.x + node.width -stdErr.x )/2) + ',' +(stdErr.y + dy + stdErr.height/2 +20)  + ' '+ (stdErr.x + dx + 20) + ',' + (stdErr.y + dy + stdErr.height/2 +20)"
            />
          </svg:g>
        </svg:g>
        
        <svg:rect width="100%" height="100%" fill="url(#grid)" pipeline-directive (movEmit)="handleMove($event)" (zoom)="handleZoom($event)" (mouseEvnt)="handleMousePos($event)"
        />
        <!-- SVG is not HTML is XML so use attribute instead of element [attr.height]="height" [attr.width]="width"-->
        <svg:g draggable="false" pipeline-node x="0" y="0" [dy]="dy" [dx]="dx" [propX]="propX" [propY]="propY" *ngFor="let node of _nodes"
          [node]="node" (nodeClicked)="handleNodeClick($event)" />

      </svg>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div *ngIf="activeNode" class="row pt-2">
        <h4>Active Node</h4>
        <pipeline-node-edit class="col-12 pt-2" [node]="activeNode"></pipeline-node-edit>
      </div>
      <div *ngIf="selectedNode" class="row pt-2">
        <h4>Current Selected Node</h4>
        <pipeline-node-edit class="col-12 pt-2" [node]="selectedNode"></pipeline-node-edit>
      </div>
    </div>
  </div>


</div>