<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Pipeline Visual Editor</h1>

  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary" (click)="newPipeline()" title="Create a new Pipline">New Pipeline</button>
      <button class="btn btn-sm btn-outline-secondary" (click)="savePipelineNodes()" title="Save the current status of the pipeline and all the Nodes">Save</button>
    </div>
    <div ngbDropdown class="dropdown  mr-2">
      <button ngbDropdownToggle class="btn btn-secondary dropdown-toggle" type="button" id="selectPipeline" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" title="Allow us to switch between pipelines">
        Select Pipeline
      </button>
      <div ngbDropdownMenu aria-labelledby="selectPipelineButton">
        <a class="dropdown-item" *ngFor="let pipe of pipelines" (click)="selectPipeline(pipe)">{{pipe.name}}</a>
      </div>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="false" id="periodicStatusUpdate" [(ngModel)]="periodicStatus" (ngModelChange)="doPeriodicStatusUpdate($event)">
        <label class="form-check-label" for="defaultCheck1">
          Synchronize pipeline
        </label>
      </div>
    <div ngbDropdown class="dropdown  mr-2">
      <button ngbDropdownToggle class="btn btn-secondary dropdown-toggle" type="button" id="selectNewNode" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" title="Creates a new Node based on a template">
        New Node
      </button>
      <div ngbDropdownMenu aria-labelledby="selectNewNodeButton">
        <a class="dropdown-item" *ngFor="let template of templates" (click)="newNode(template)">{{template.name}}</a>
      </div>
    </div>
    <div ngbDropdown class="dropdown  mr-2">
      <button ngbDropdownToggle class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" title="Centers a node in the middle of the PipelineCanvas">
        Focus On Node
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <a class="dropdown-item" *ngFor="let node of _nodes" (click)="focusNode(node)">{{node.name}}</a>
      </div>
    </div>
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary" (click)="handleZoom(-0.2)" title="Zoom In. Use (Shift) + (Mouse Wheel)">+</button>
      <button class="btn btn-sm btn-outline-secondary" (click)="handleZoom(0.2)" title="Zoom Out. Use (Shift) + (Mouse Wheel)">-</button>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="newPipe">
  <pipeline-new (completed)="selectPipeline($event)" [pipe]="newPipe"></pipeline-new>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12" (window:resize)="onResize($event)">
      <svg #pipeCanvas version="1.1" [attr.viewBox]="'0 0 '+ width +' ' + height" width="100%" height="100%" (mousedown)="onMouseDown($event)"
        (mouseleave)="onMouseLeave($event)" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)">
        <defs>
          <pattern id="smallGrid" width="10" height="10" patternUnits="userSpaceOnUse">
            <path d="M 10 0 L 0 0 0 10" fill="none" stroke="gray" stroke-width="0.5" />
          </pattern>
          <pattern id="grid" width="100" height="100" patternUnits="userSpaceOnUse">
            <rect width="100" height="100" fill="url(#smallGrid)" />
            <path d="M 100 0 L 0 0 0 100" fill="none" stroke="gray" stroke-width="1" />
          </pattern>
        </defs>
        <svg:g x="0" y="0">
          <svg:path [attr.stroke]=" ((hosePipe.origin) ? (hosePipe.origin.type === 2)? 'red' : 'green' : 'white')" stroke-width="3"
            fill="none" [attr.d]="'M ' + (dx + hosePipe.origin.x ) + ',' + (hosePipe.origin.y +dy)
            + ' L '+(dx + hosePipe.x ) + ',' +(dy + hosePipe.y )" />
        </svg:g>

        <svg:g x="0" y="0" *ngFor="let node of _nodes">
          <svg:g x="0" y="0" *ngFor="let outCon of node.outputConnectors">
            <svg:g x="0" y="0" *ngFor="let conex of outCon.conectedNodes">
              <svg:path stroke="green" stroke-width="3" fill="none" [attr.d]="'M ' + (node.x + dx + outCon.x) + ',' + (node.y + dy + outCon.y)
                + ' C '+ ((node.x + dx + outCon.x)-(node.x  + outCon.x - conex.x -conex.originNode.x)/2) + ',' +(node.y + dy + outCon.y)
                + ' ' + ((node.x + dx + outCon.x)-(node.x  + outCon.x - conex.x -conex.originNode.x)/2)  + ',' +(conex.y + dy + conex.originNode.y)  
                + ' '+ (conex.x + dx + conex.originNode.x) + ',' + (conex.y + dy + conex.originNode.y) " />
            </svg:g>

          </svg:g>
          <svg:g x="0" y="0" *ngFor="let outCon of node.errorConnectors">
            <svg:g x="0" y="0" *ngFor="let conex of outCon.conectedNodes">
              <svg:path stroke="red" stroke-width="3" fill="none" [attr.d]="'M ' + (node.x + dx + outCon.x) + ',' + (node.y + dy + outCon.y)
                + ' C '+ ((node.x + dx + outCon.x)-(node.x  + outCon.x - conex.x -conex.originNode.x)/2) + ',' +(node.y + dy + outCon.y)
                + ' ' + ((node.x + dx + outCon.x)-(node.x  + outCon.x - conex.x -conex.originNode.x)/2)  + ',' +(conex.y + dy + conex.originNode.y)  
                + ' '+ (conex.x + dx + conex.originNode.x) + ',' + (conex.y + dy + conex.originNode.y) " />
            </svg:g>

          </svg:g>
          <!--
          <svg:g x="0" y="0" *ngFor="let stdErr of node.errorNodes">
            <svg:path stroke="red" stroke-width="3" fill="none" [attr.d]="'M ' + (node.x + dx + node.width +20) + ',' + (node.y + dy + node.height*3/4 +20)
            + ' C '+ ((node.x + dx + node.width + 20)-(node.x + node.width -stdErr.x )/2) + ',' +(node.y + dy + node.height*3/4 +20)
            + ' ' + ((node.x + dx + node.width + 20)-(node.x + node.width -stdErr.x )/2) + ',' +(stdErr.y + dy + stdErr.height/2 +20)  + ' '+ (stdErr.x + dx + 20) + ',' + (stdErr.y + dy + stdErr.height/2 +20)"
            />
          </svg:g>
          -->
        </svg:g>

        <!-- (mouseEvnt)="handleMousePos($event)" -->
        <svg:rect width="100%" height="100%" fill="url(#grid)" pipeline-directive (movEmit)="handleMove($event)" (zoom)="handleZoom($event)"
        />
        <!-- SVG is not HTML is XML so use attribute instead of element [attr.height]="height" [attr.width]="width"-->
        <svg:svg pipeline-node *ngFor="let node of _nodes" [node]="node" (nodeClicked)="handleNodeClick($event)" [attr.x]="node.x + dx"
          [attr.y]="node.y + dy" [attr.height]="node.height" [attr.width]="node.width"></svg:svg>
      </svg>
    </div>
  </div>


</div>