<div *ngIf="mod">
  <form>
    <div class="card">
      <div class="card-header">
        <!--HEADER -->

        <div class="form-group">
          <label for="checkName">Mod TAG</label>
          <input type="text" class="form-control" name="name" id="modName" placeholder="Module Name" [(ngModel)]="mod.name">
        </div>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="description">Origin</label>
          <input type="text" class="form-control" name="origin" id="origin" placeholder="http://.../...mod.zip" [(ngModel)]="mod.origin">
        </div>
        <div class="form-group">
          <dl class="row">
            <dt class="col-sm-5" data-toggle="tooltip" data-placement="top" title="Lista de librerias que necesita este modulo">Libraries: </dt>
            <dd *ngFor="let lib of mod.libraries" class="col-sm-7">
              <a>{{lib}}</a>
            </dd>
          </dl>
        </div>
        <div class="form-group">
          <dl class="row">
            <dt class="col-sm-5" data-toggle="tooltip" data-placement="top" title="Lista de librerias NODEJS que necesita este modulo">Requires: </dt>
            <dd *ngFor="let lib of mod.requires" class="col-sm-7">
              <a>{{lib}}</a>
            </dd>
          </dl>
        </div>
        <div class="btn-group">
          <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
          <button type="submit" class="btn btn-secondary" (click)="validate()">Validate</button>
          <button type="submit" class="btn btn-secondary" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>