<div class='container'>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h4>List of Infraestructure Objects</h4>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <div>
          <button type="button" class="btn btn-primary" (click)="newInfraestructure()">Create new Infraestructure Object</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="newInf" class="col-sm-12 col-md-12">
    <infraestructure-new [infraestructure]="newInf"></infraestructure-new>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="list-group">
        <div *ngFor="let infr of infraestructures" (click)="onSelect(infr)">
          <a [class.active]="infr === selected" class="list-group-item">
            <span routerLink="/infraestructure/{{infr.id}}">{{infr.name}} </span>
          </a>
        </div>
      </div>
      <hr/>
    </div>
    <div class="col-sm-12 col-md-6">
      <infraestructure-object [infraestructure]="selected"></infraestructure-object>
    </div>
  </div>
</div>