<web-project-new *ngIf="!auth.isDev()"></web-project-new>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
</div>
<div class='container'>
    <div class="row">
        <div class="col-12">
            <h4>Web Projects</h4>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="list-group">
                <a *ngFor="let project of projects" [class.active]="project === selectedProject" (click)="onSelect(project)" class="list-group-item">
                    <span>{{project.name}} </span>
                </a>
            </div>
            <hr/>
        </div>
        <div class="col-sm-12 col-md-6">
            <web-project-view [project]="selectedProject"></web-project-view>
        </div>
    </div>
</div>