<web-project-new *ngIf="!auth.isDev()"></web-project-new>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
</div>
<div class='container'>
    <div class="row">
        <div class="col-12">
            <h4>Web Projects</h4>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="list-group" style="overflow-y: scroll;line-height: 120%;">
                <a *ngFor="let project of projects" [class.active]="project === selectedProject" (click)="onSelect(project)" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-between">
                        <h5 class="mb-1">{{project.name}}</h5>
                        <small *ngIf="project.status === 0">Inactive</small>
                        <small *ngIf="project.status != 0">Active</small>
                    </div>
                    <p class="mb-1">
                        {{project.description}}
                    </p>
                    <small *ngIf="project.project_manager_name">Manager: {{project.project_manager_name}}</small>
                </a>
            </div>
            <hr/>
        </div>
        <div class="col-sm-12 col-md-6">
            <web-project-view [project]="selectedProject"></web-project-view>
        </div>
    </div>
</div>