<div class='container'>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h4>List of Users</h4>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <div>
          <button type="button" class="btn btn-primary" (click)="newUser()">Create new User</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="tempUser" class="row">
      <div class="col-sm-12 col-xl-12">
          <user-new [user]="tempUser"></user-new>
      </div>
      
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="list-group">
        <div *ngFor="let user of users" (click)="onSelect(user)">
            <a  [class.active]="user === selectedUser"  class="list-group-item">
                <span routerLink="/users/{{user.id}}">{{user.name}} </span>
              </a>
        </div>
        
      </div>
      <hr/>
    </div>
    <div class="col-sm-12 col-md-6">
      <user-view [user]="selectedUser"></user-view>
    </div>
  </div>
</div>