<div class='container'>
  <div class="row">
    <form>
      <div class="form-group">
        <label for="hookName">WebHook Name </label>
        <input type="text" class="form-control" name="name" id="hookName" placeholder="WebHookName" [(ngModel)]="hook.name">
      </div>
      <div class="btn-group">
        <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
        <button type="submit" class="btn btn-warning" (click)="delete()">Delete</button>
        <button type="submit" class="btn btn-secondary" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>