<div class="row">
  <textarea #consoleHistory [scrollTop]="consoleHistory.scrollHeight" class="form-control" rows="20" name="console" [(ngModel)]="commandHistory"></textarea>
</div>
<div class="row">
  <input type="text" list="consoleList" autocomplete="off" class="col-10 form-control" (keyup.enter)="send()" name="name" id="consoleInput" placeholder="command" [(ngModel)]="actualCommand">
  <datalist id="consoleList">

      <option *ngFor="let com of lastCommands" [ngValue]="com" value="{{com}}">

    </datalist>
  <button type="submit" class="col-2 btn btn-principal" (click)="send()">Send</button>

</div>