<div class='container'>
    <div class="row">
        <div class="col-12">
            <h1>Web Projects</h1>
        </div>
        <div class="col-6">
            <div class="list-group">
                <a *ngFor="let project of projects" [class.active]="project === selectedProject" (click)="onSelect(project)" class="list-group-item">
                    <span>{{project.name}} </span>
                </a>
            </div>
            <hr/>
            <button type="button" class="btn btn-primary" (click)="newProject()">Create new Project</button>
        </div>
        <div class="col-md-6">
            <web-project [project]="selectedProject"></web-project>
        </div>
    </div>
</div>