<div *ngIf="_infraestructure">
  <form>
    <div class="card">
      <div class="card-header">
        <!--HEADER -->
        <dl class="row">
          <dt class="col-sm-5" data-toggle="tooltip" data-placement="top" title="Name of the usder">Name:</dt>
          <dd class="col-sm-7">{{_infraestructure.name}}</dd>
        </dl>
      </div>
      <div class="card-body">
        <div class="row">
          <textarea class="form-control" rows="20" name="infrFile" [(ngModel)]="_content"></textarea>
        </div>
        <dl class="row">
          <dt class="col-sm-5" data-toggle="tooltip" data-placement="top" title="The last time the was connected">Last Connection</dt>
          <dd class="col-sm-7">{{_infraestructure.last_update}}</dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-5" data-toggle="tooltip" data-placement="top" title="The creation date for this _infraestructure">Creation Date</dt>
          <dd class="col-sm-7">{{_infraestructure.create_date}}</dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3" data-toggle="tooltip" data-placement="top" title="The ID of the _infraestructure">ID</dt>
          <dd class="col-sm-9">{{_infraestructure.id}}</dd>
        </dl>
        <div  class="btn-group">
          <button type="submit" class="btn btn-primary" routerLink="/infraestructure/{{_infraestructure.id}}">Edit</button>
        </div>
      </div>
    </div>
  </form>

</div>