.pipe-card {
  fill-opacity:0.6;
  fill:#909090;
}
.pipe-card-head {
  fill-opacity:0.6;
  fill:#848077;
}
.pipe-card-vert {
  fill-opacity:0;
  cursor: n-resize;
}
.pipe-card-diag-left {
  fill-opacity:0;
  cursor: nw-resize;
}
.pipe-card-diag-right {
  fill-opacity:0;
  cursor: ne-resize;
}
.pipe-card-horiz {
  fill-opacity:0;
  cursor: e-resize;
}
.pipe-card-move {
  fill-opacity:0;
  cursor: move;
}
svg text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
svg text::selection {
    background: none;
}