<svg:rect #content class="pipe-card" x="10" y="10" [attr.height]="node.height-20" [attr.width]="node.width-20" rx="20" ry="20"
    [attr.stroke]="node.selected ? 'green' :'black'" stroke-width="1.5" />
<!---->
<svg:svg x="10" y="10" height="40" [attr.width]="node.width-20">
    <svg:path [attr.d]="'M1 40 V21 Q1 1 21 1 H' + (node.width-40) + ' Q' + (node.width-20) + ' 1 ' + (node.width) + ' 21' + ' V40z'"
        class="pipe-card-head" />
    <svg:path [attr.d]="'M1 40 V21 Q1 1 21 1 H41 V40z'" [attr.fill]="statusColor" stroke="black" sroke-width="1.5" />
    <svg:text [attr.x]="50" [attr.y]="30" fill="black" font-family="Arial" font-size="30">{{node.name}}</svg:text>
</svg:svg>
<svg:svg x="30" y="40" [attr.height]="node.height - 50" [attr.width]="node.width-50">
    <!-- Aqui ira el contenido. Solo los parametros que acepta de entrada del nodo que recibe -->
    <svg:g *ngFor="let prop of showProperties;let i = index">
        <svg:text  [attr.x]="5" [attr.y]="35 + 70*i" fill="black" font-family="Arial" font-size="30">{{prop.nickname || prop.name}}:</svg:text>
        <svg:text  [attr.x]="50" [attr.y]="70 + 70*i" fill="black" font-family="Arial" font-size="30">{{prop.decoratorValue || prop.value}}</svg:text>
    </svg:g>
</svg:svg>
<svg:rect [node-move-directive]="node" #content class="pipe-card-move" *ngIf="node" x="10" y="10" [attr.height]="node.height - 20"
    [attr.width]="node.width - 20" rx="20" ry="20" (click)="selectElement()" />
<svg:g node-connector *ngFor="let connector of node.inputConnectors" [connector]="connector">

</svg:g>
<svg:g node-connector *ngFor="let connector of node.outputConnectors" [connector]="connector">

</svg:g>
<svg:g node-connector *ngFor="let connector of node.errorConnectors" [connector]="connector">

</svg:g>
<!-- Scale Diag BOT-RIGHT-->
<svg:path [attr.d]="'M' + (node.width-20) + ' ' + (node.height-30) + ' V' + (node.height-20) + ' H' + (node.width-30) +'z'"
    fill="black" stroke="black" sroke-width="1" />
<svg:rect [node-resize-directive]="node" class="pipe-card-diag-left" [attr.x]="node.width-40" [attr.y]="node.height-40" height="40"
    width="40" />




<!-- Scale  <svg:rect class="pipe-card-vert" x="20" y="0" height="20" [attr.width]="node.width" />vert Superior-->

<!-- Scale <svg:rect class="pipe-card-diag-left" x="0" y="0" height="20" width="20" /> Diag TOP-LEFT-->

<!-- Scale <svg:rect class="pipe-card-horiz" x="0" y="20" [attr.height]="node.height" width="20" /> Horiz Left-->

<!-- Scale <svg:rect class="pipe-card-diag-right" [attr.x]="node.width + 20" y="0" height="20" width="20" /> Diag TOP-RIGHT-->

<!-- Scale  <svg:rect class="pipe-card-horiz" [attr.x]="node.width +20" y="20" [attr.height]="node.height" width="20" /> Horiz Right-->

<!-- Scale  <svg:rect class="pipe-card-vert" x="20" [attr.y]="node.height + 20" height="20" [attr.width]="node.width" />  vert Inferior -->


<!-- Scale  <svg:rect class="pipe-card-diag-right" x="0" [attr.y]="node.height + 20" height="20" width="20" /> Diag BOT-LEFT-->