<div class='container'>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h4>List of Infrastructures</h4>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <div>
              <button type="button" class="btn btn-primary" (click)="fetchAll()">Refresh</button>
            <button type="button" class="btn btn-primary" (click)="newInfrastructure()">Create new Infrastructure</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="tempInfrastructure" class="row">
        <div class="col-sm-12 col-xl-12">
          <infrastructure-new [infrastructure]="tempInfrastructure">></infrastructure-new>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="list-group">
            <h5>Stored Infrastructures</h5>
            <a *ngFor="let infr of infrastructures" [class.active]="infr === selectedInfrastructure" (click)="onSelect(infr)" class="list-group-item">
                <span>{{infr.name}} </span>
            </a>
        </div>
        <hr/>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="list-group">
            <h5>Active Infrastructures</h5>
            <a *ngFor="let infr of activeInfrastructures" [class.active]="infr === selectedInfrastructure" (click)="onSelect(infr)" class="list-group-item">
                <span>{{infr.name}} </span>
            </a>
        </div>
        <hr/>
      </div>
      <div class="col-sm-12 col-md-6">
          <infrastructure-object [infrastructure]="selectedInfrastructure"></infrastructure-object>
      </div>
    </div>
  </div>